body {
    font-family: Arial, sans-serif;
    background-color: #252525;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #252525;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #252525; /* Color actualizado */
}

.hero h1 {
    font-size: 48px;
}

.hero button {
    background-color: #F7F0F0;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.hero button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.skills {
    padding: 50px 20px;
    background-color: #343A40; /* Color actualizado */
}

.skills h2 {
    font-size: 32px;
    text-align: center;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px; /* Espacio entre los contenedores */
}

.skills-text, .skills-wordcloud {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #121212; /* Fondo oscuro para el contenedor */
    border-radius: 10px; /* Bordes redondeados */
}

.skills-text p {
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    font-size: 1.4vw;
}

#wordCloud {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
    }

    #wordCloud {
        width: 100%;
        height: auto;
    }
}

.projects {
    padding: 50px 20px;
    background-color: #1e1e1e;
}

.projects h2 {
    font-size: 36px;
    text-align: center;
}

.contact {
    text-align: center;
    padding: 50px 20px;
}

.contact h2 {
    font-size: 36px;
}

.contact button {
    background-color: #F7F0F0;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.contact button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}
