body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* Blanco para el fondo principal */
    color: #000000; /* Negro para el texto principal */
    margin: 0;
    padding: 0;
}

header {
    -webkit-text-size-adjust: 100%;
    font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    display: block;
    position: relative;
    color: #ffffff;
    background-color: #1f203a;
    background-image: none;
    padding: 20px 0; /* Aumenta el padding para dar más espacio vertical */
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li {
    margin: 0 20px; /* Aumenta el margen entre los elementos del menú */
}

header ul li a {
    color: #FFFFFF; /* Blanco para el texto de los enlaces en el header */
    text-decoration: none;
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente de los enlaces */
}


header ul li a {
    color: #FFFFFF; /* Blanco para el texto de los enlaces en el header */
    text-decoration: none;
}
.fondo-transparente{
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    color: #111111;
    background-color: #F5F5F5;
    height: 403px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
    
}
.imagen-presentacion{
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 8px;
    color: #111111;
    border-color: #ffffff;
    border-radius: 50% !important;
    stroke: none;
    width: 422px;
    height: 422px;
    background-image: url("https://i.pinimg.com/564x/d5/31/2f/d5312fd8f29829cc131988caf7b41e87.jpg");
    background-position: 50% 50%;
    margin: -343px auto 0;
}
.hero {
    text-align: center;
    background-color: #FFFFFF; /* Blanco para el fondo de hero */
    margin-bottom: 300px;
}

.text{
    -webkit-text-size-adjust: 100%;
    text-align: center;
    box-sizing: border-box;
    color: inherit;
    font-family: Roboto,sans-serif;
    word-wrap: break-word;
    position: relative;
    padding: 0;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 3rem;
    width: 554px;
    margin: 60px auto 0;
}
.subtext{
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    color: #111111;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    word-wrap: break-word;
    position: relative;
    width: 543px;
    margin: 20px auto 0;
}
.skills {
    padding: 50px 0;
    margin-bottom: 100px;
    background-color: #F5F5F5;
    color: #000000;
}

.skills-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100x;
    text-align: center;
}

.skills h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #000000;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 
}

.skill {
    width: 45%;
    margin-bottom: 20px;
}

.skill span {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.skill-bar {
    width: 100%;
    background-color: #c5c5c5;
    border-radius: 5px;
    overflow: hidden;
}

.skill-level {
    height: 10px;
    background-color: #1f203a;
}


@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
    }

    #wordCloud {
        width: 100%;
        height: auto;
    }
}

.projects {
    margin-bottom: 200px;
    padding: 50px 20px;
    background-color: #ffffff; /* Gris claro para el fondo de projects */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1100px;
    text-align: center;
}

.projects h2 {
    grid-column: span 3;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 1300px) {
    .projects {
        grid-template-columns: repeat(4, 1fr);
        max-width: none;
    }

    .projects h2 {
        grid-column: span 4;
    }
    .skills-text p {
        margin: 10px 0;
        padding: 10px;
        text-align: left;
        font-size: 20px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .project-card img {
        width: 100%;
        height: 300px;
    }
    
}

@media (max-width: 1000px) {
    
    .projects {
        grid-template-columns: 1fr;
    }

    .projects h2 {
        grid-column: span 1;
    }

    .project-card {
        margin: 10px auto;
        max-width: 90%;
        width: 100%;
    }

    .project-card img {
        height: auto;
        max-height: 260px;
        width: 100%;
        object-fit: contain;
    }

    .project-card .info-card {
        padding: 10px;
    }

    .project-card .info-card p {
        font-size: 14px;
    }

    .project-card .info-card h3 {
        font-size: 18px;
    }

    .project-card .info-card a {
        font-size: 14px;
        padding: 8px;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }

    .info-basica, .form {
        max-width: 100%;
        margin-bottom: 20px;
        margin-left: 100px;
    }
}

.project-card {
    border-radius: 6px;
    overflow: hidden;
    background-color: #F5F5F5; /* Gris claro para el fondo de project-card */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.project-card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5%);
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.project-card .info-card {
    padding: 15px;
    text-align: center;
}

.project-card .info-card p {
    line-height: 1.5;
    color: #333333; /* Gris oscuro para el texto de la info-card */
}

.project-card .info-card h3 {
    font-weight: 400;
    margin-bottom: 15px;
    color: #000000; /* Negro para el texto de la info-card */
}

.project-card .info-card a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #000000; /* Negro para el borde del enlace */
    background-color: #FFFFFF; /* Blanco para el fondo del enlace */
    color: #000000; /* Negro para el texto del enlace */
    border-radius: 4px;
    transition: all 400ms ease;
}

.project-card .info-card a:hover {
    background-color: #A6C8FF; /* Azul claro al pasar el ratón sobre el enlace */
    color: #000000;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 100px;
}

.info-basica, .form {
    flex: 1;
    max-width: 45%;
    border: 5px solid #333333; /* Gris oscuro para el borde de info-basica y form */
    border-radius: 10px;
}

.info-basica {
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    margin-top: 50px;
}

.contact h2 {
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}

.contact h3 {
    font-size: 19px;
    margin-bottom: 20px;
}

.info-basica {
    display: grid;
    row-gap: 0.5vw;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 20px rgba(27, 27, 27, 0.6);
    padding: 20px;
    max-width: 600px;
    background-color: #F5F5F5; /* Gris claro para el fondo del formulario */
    border-radius: 8px;
}

.row {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
    max-width: 48%;
}

.input-box {
    margin-bottom: 15px;
}

.full-width {
    width: 100%;
}

label {
    display: block;
    color: #000000; /* Negro para el texto de los labels */
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #000000; /* Negro para el borde de inputs y textareas */
    background-color: transparent;
    border-bottom: 2px solid #FFFFFF; /* Blanco para el borde inferior de inputs y textareas */
    color: #000000; /* Negro para el texto en inputs y textareas */
    transition: width 0.6s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

button.submit-button {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    margin: 0;
    font-style: initial;
    white-space: nowrap;
    user-select: none;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    align-self: flex-start;
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 1px;
    position: relative;
    stroke: none;
    border-color: #000000 !important;
    background-color: transparent !important;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    border-width: 2px;
    color: #000000 !important;
    background-color: #FFFFFF; /* Blanco para el fondo del botón */
    width: 50%;
    color: #333333; /* Gris oscuro para el texto del botón */
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 10px auto;
    border-radius: 6px;
    border-color: #000000;
}

button.submit-button:hover {
    background-color: #A6C8FF; /* Azul claro al pasar el ratón sobre el botón */
}

button.submit-button:focus {
    outline: none;
    background-color: #333333; /* Gris oscuro al enfocar el botón */
    transform: scale(1.05);
}
