<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="/static/node_modules/wordcloud/src/wordcloud2.js"></script>
</head>

<body>
    <header id = "header">
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class ="fondo-transparente"></div>
    <div class ="imagen-presentacion"></div>
    <section id = "about" class="hero" data-aos="fade-up">
        <div class = text>Hola! Soy Ignacio Ayerbe</div>
        <div class ="subtext">Ingeniero en Sistemas con experiencia en soporte técnico y desarrollo de software. Habilidades en programación, bases de datos y tecnologías emergentes</div>
    </section>

    <section class="skills" data-aos="fade-up">
        <div class="skills-container">
            <h2>Skills</h2>
            <div class="skills-content">
                <div class="skill">
                    <span>Python</span>
                    <div class="skill-bar">
                        <div class="skill-level" style="width: 80%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <span>HTML</span>
                    <div class="skill-bar">
                        <div class="skill-level" style="width: 75%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <span>JavaScript</span>
                    <div class="skill-bar">
                        <div class="skill-level" style="width: 75%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <span>CSS</span>
                    <div class="skill-bar">
                        <div class="skill-level" style="width: 70%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <span>SQL</span>
                    <div class="skill-bar">
                        <div class="skill-level" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <span>Java</span>
                    <div class="skill-bar">
                        <div class="skill-level" style="width: 50%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <span>Git / GitHub</span>
                    <div class="skill-bar">
                        <div class="skill-level" style="width: 80%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <span>Machine Learning</span>
                    <div class="skill-bar">
                        <div class="skill-level" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section class="projects" id="projects" data-aos="fade-up">
        <h2>Projects</h2>
        <div class="project-card">
            <figure>
                <img src="/static/imagenes/imagen proyecto front end.png">
            </figure>
            <div class="info-card">
                <h3>Gestion de Cabañas</h3>
                <p>Este proyecto Front-End está diseñado para la gestión de alquiler de cabañas, utilizando HTML, CSS y
                    JavaScript. La aplicación permite a los usuarios buscar y reservar cabañas disponibles, así como
                    gestionar sus reservas de manera intuitiva y eficiente.</p>
                <a href="https://github.com/T0p2/Proyecto-de-Codo-a-Codo">Leer mas</a>
            </div>
        </div>
        <div class="project-card">
            <figure>
                <img src="/static/imagenes/asistente virtual.png">
            </figure>
            <div class="info-card">
                <h3>Asistente virtual de voz</h3>
                <p>Este proyecto es un asistente virtual en Python que utiliza APIs de OpenAI, YouTube y Spotify.
                    Permite reproducir música y videos mediante comandos de voz, utilizando la librería whisper para el
                    reconocimiento de voz. Sus funcionalidades incluyen la búsqueda y reproducción de contenido en
                    YouTube y Spotify a través de comandos de voz.
                </p>
                <a href="https://github.com/T0p2/Asistente-Virtual-en-Python">Leer mas</a>
            </div>
        </div>
        <div class="project-card">
            <figure>
                <img src="">
            </figure>
            <div class="info-card">
                <h3>proyecto 1</h3>
                <p>bla bla bla</p>
                <a href="'#'">Leer mas</a>
            </div>
        </div>

    </section>

    <section class="contact" id="contact" data-aos="fade-up">
        <h2>Contacto</h2>
        <div class="info-basica">
            <p>Telefono : +54 911 26403166</p>
            <p>Email: <a href="mailto:nachoayerbe2003@gmail.com">nachoayerbe2003@gmail.com</a></p>
            <p>Linkedin: <a href="https://www.linkedin.com/in/ignacio-ayerbe-651a64229/">Ignacio Ayerbe</a></p>
            <p>GitHub : <a href="https://github.com/T0p2">Github</a></p>
        </div>

        <br>
        <form id="contactForm" class="form">
            <h3>Contact Me</h3>
            <div class="row">
                <div class="column">
                    <div class="input-box">
                        <label for="name" >Nombre *</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                </div>
                <div class="column">
                    <div class="input-box">
                        <label for="lastname">Apellido</label>
                        <input type="text" id="lastname" name="lastname">
                    </div>
                </div>
            </div>
            <div class="input-box full-width">
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
            </div>
            <div class="input-box full-width">
                <label for="mensaje">Mensaje</label>
                <textarea name="mensaje" id="mensaje"></textarea>
            </div>
            <button class ="submit-button" type="submit" action = >Enviar</button>
        </form>
<br>
    </section>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script type="module" src="/static/js/code.js"></script>
</body>

</html>